<!DOCTYPE html>
<html lang="kr">
<head>
<script src="../../routes/login.js"></script>
<title>회원가입 page</title>
</head>
<body>
    <form method="post" name="fffff" action="/user/customer">
        <input type="text" placeholder="email" name="email" >
        <input type="text" placeholder="password" name="pwd" >
        <input type="text" placeholder="이름" name="c_name" >
        <input type="text" placeholder="주소" name="address" >
        <input type="submit" value="submit">
    </form>
</body>
</html>