<!DOCTYPE html>
<html lang="kr">
<head><title>로그인 완료</title></head>
<body>
<h2>로그인 완료 됨</h2>
<form method="post" action="/user/logout">
    <input type="submit" value="logout">
</form>
</body>
</html>