<!DOCTYPE html>
<html lang="kr">
<head></head>
<body>
    <form action="/users" method="POST">
        <label>First Name
            <input type="text" name="firstName" value="<%= locals.firstName %>" />
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>